@font-face {
    font-family: ibmplexsans;
    src: url('./ibmplexsans-regular.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--pri-font: ibmplexsans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: var(--pri-font);
}

.container {
	/*background: orange;*/
	padding: 2rem 2rem 4rem;
	border: 1.2rem solid;
	border-color: black;
	min-height: 100vh;
	text-align: center;
	position: relative;

}

.container header {
	background: #eee;
	padding: 5rem 0;
	margin: -2rem -2rem 0;

}

.site-title + p{
	opacity: 0.8;
}

.site-title span:nth-child(1) {
	/*animation: colorChange 30s ease-in 1s infinite normal;*/
	/*font-variant: small-caps;*/
	text-align: center;

}

.section-selector {
	background: #eee;
	margin: 0 -2rem;
	margin-bottom: 2rem;
}

.section-selector button {
	border: none;
	background: #eee;
	padding: 0.5rem 1.2rem;
	font-weight: 700;
	color: rgb(0, 0, 0, 0.5);
	outline: none;

}

.current-selector-btn {
	background: white !important;
	border-radius: 6px 6px 0 0;
	color: rgb(0, 0, 0, 1) !important;
}

.rgb-conversion-box h4, .hex-conversion-box h4, .cmyk-conversion-box h4, .hsl-conversion-box h4, .hsv-conversion-box h4 {
	font-size: 1.7rem;
	margin-bottom: 2rem;
}

.rgb-red-input::before {
	content: 'RED';
}

.rgb-green-input::before {
	content: 'GREEN';
}

.rgb-blue-input::before {
	content: 'BLUE';
}

.cmyk-cyan-input:before {
	content: 'CYAN';
}

.cmyk-magenta-input:before {
	content: 'MAGENTA';
}

.cmyk-yellow-input:before {
	content: 'YELLOW';
}

.cmyk-black-input:before {
	content: 'BLACK';
}

.hsl-hue-input:before {
	content: 'HUE';
}

.hsl-saturation-input:before {
	content: 'SATURATION';
}

.hsl-lightness-input:before {
	content: 'LIGHTNESS';
}

.hsv-hue-input:before {
	content: 'HUE';
}

.hsv-saturation-input:before {
	content: 'SATURATION';
}

.hsv-value-input:before {
	content: 'VALUE';
}



.rgb-red-input::after, 
.rgb-green-input::after, 
.rgb-blue-input::after {
	content: '[0 - 255]';
}

.cmyk-cyan-input:after,
.cmyk-magenta-input:after,
.cmyk-yellow-input:after,
.cmyk-black-input:after,
.hsl-saturation-input:after,
.hsl-lightness-input:after,
.hsv-saturation-input:after,
.hsv-value-input:after
{
	content: '[0 - 100]';
}

.hsl-hue-input:after,
.hsv-hue-input:after
{
	content: '[0 - 360]';
}

.rgb-red-input,
.rgb-green-input, 
.rgb-blue-input,
.cmyk-cyan-input,
.cmyk-magenta-input,
.cmyk-yellow-input,
.cmyk-black-input,
.hsl-hue-input,
.hsl-saturation-input,
.hsl-lightness-input,
.hsv-hue-input,
.hsv-saturation-input,
.hsv-value-input
{
	/*background: green;*/
	display: inline-block;
	padding: 0.5rem 1rem;
	position: relative;
	width: calc(6rem + 2rem);
}

.rgb-red-input::before, 
.rgb-green-input::before, 
.rgb-blue-input::before,
.cmyk-cyan-input::before,
.cmyk-magenta-input::before,
.cmyk-yellow-input::before,
.cmyk-black-input::before,
.hsl-hue-input:before,
.hsl-saturation-input:before,
.hsl-lightness-input:before,
.hsv-hue-input:before,
.hsv-saturation-input:before,
.hsv-value-input:before
{
	position: relative;
	/*background: orange;*/
	display: block;
	top: 0;
	text-align: center;
	font-size: 1rem;
}

.rgb-red-input:after, 
.rgb-green-input:after, 
.rgb-blue-input:after,
.cmyk-cyan-input::after,
.cmyk-magenta-input::after,
.cmyk-yellow-input::after,
.cmyk-black-input::after,
.hsl-hue-input:after,
.hsl-saturation-input:after,
.hsl-lightness-input:after,
.hsv-hue-input:after,
.hsv-saturation-input:after,
.hsv-value-input:after

{
	display: block;
	position: relative;
	/*background: pink;*/
	font-size: 1rem;
	text-align: center;
}

.rgb-red-input input[type="number"], 
.rgb-green-input input[type="number"], 
.rgb-blue-input input[type="number"],
.cmyk-cyan-input input[type="number"],
.cmyk-magenta-input input[type="number"],
.cmyk-yellow-input input[type="number"],
.cmyk-black-input input[type="number"],
.hsl-hue-input input[type="number"],
.hsl-saturation-input input[type="number"],
.hsl-lightness-input input[type="number"],
.hsv-hue-input input[type="number"],
.hsv-saturation-input input[type="number"],
.hsv-value-input input[type="number"]
{
	width: 6rem;
	text-align: center;
	padding: 0.5rem;
	border-radius: 0.3rem;
	border: none;
	background: #eee;
}

.rgb-red-input input[type="number"]:invalid, 
.rgb-green-input input[type="number"]:invalid, 
.rgb-blue-input input[type="number"]:invalid,
.cmyk-cyan-input input[type="number"]:invalid,
.cmyk-magenta-input input[type="number"]:invalid,
.cmyk-yellow-input input[type="number"]:invalid,
.cmyk-black-input input[type="number"]:invalid,
.hsl-hue-input input[type="number"]:invalid,
.hsl-saturation-input input[type="number"]:invalid,
.hsl-lightness-input input[type="number"]:invalid,
.hsv-hue-input input[type="number"]:invalid,
.hsv-saturation-input input[type="number"]:invalid,
.hsv-value-input input[type="number"]:invalid
{
	border: none;
	box-shadow: none;
}

.rgb-red-input input[type="number"]:focus, 
.rgb-green-input input[type="number"]:focus, 
.rgb-blue-input input[type="number"]:focus,
.cmyk-cyan-input input[type="number"]:focus,
.cmyk-magenta-input input[type="number"]:focus,
.cmyk-yellow-input input[type="number"]:focus,
.cmyk-black-input input[type="number"]:focus,
.hsl-hue-input input[type="number"]:focus,
.hsl-saturation-input input[type="number"]:focus,
.hsl-lightness-input input[type="number"]:focus,
.hsv-hue-input input[type="number"]:focus,
.hsv-saturation-input input[type="number"]:focus,
.hsv-value-input input[type="number"]:focus
{
	border: none;
	box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, 0.2);
}

.hex-single-input input[type="text"] {
	/*background: red;*/
	padding: 0.5rem;
	text-align: center;
	margin-left: 0.3rem;
	border: 1px solid black;
	border-radius: 0.6rem;
	width: 10rem;
	font-family: inherit;

}

.hex-single-input input:invalid {
	/*border: none;*/
	border-color: black;
	box-shadow: none;
}

.hex-single-input input:focus {
	border-color: red;
	animation: borderColorChange 30s ease-in 1s infinite normal;

}


.rgb-conversion-box, 
.hex-conversion-box, 
.cmyk-conversion-box, 
.hsl-conversion-box, 
.hsv-conversion-box {
	display: none;
}

.make-section-visible {
	display: block !important;
}

.rgb-cb-convert-btn-wrap, 
.hex-cb-convert-btn-wrap, 
.cmyk-cb-convert-btn-wrap, 
.hsl-cb-convert-btn-wrap, 
.hsv-cb-convert-btn-wrap {
	/*background: red;*/
	margin: 2rem 0;
}

.rgb-cb-convert-btn,
.hex-cb-convert-btn, 
.cmyk-cb-convert-btn, 
.hsl-cb-convert-btn, 
.hsv-cb-convert-btn {
	border: none;
	padding: 0.7rem 1.2rem;
	background: black;
	color: white;
	font-weight: 600;
	border-radius: 0.6rem;
	cursor: pointer;
}

.rgb-cb-convert-btn:hover,
.hex-cb-convert-btn:hover, 
.cmyk-cb-convert-btn:hover, 
.hsl-cb-convert-btn:hover, 
.hsv-cb-convert-btn:hover {
	opacity: 0.9;
	box-shadow: 0px 1px 8px 1px rgb(0, 0, 0, 0.4);
	
}


.rgb-cb-reset-btn,
.hex-cb-reset-btn, 
.cmyk-cb-reset-btn, 
.hsl-cb-reset-btn, 
.hsv-cb-reset-btn {
	border: none;
	padding: 0.7rem 1.2rem;
	background: none;
	color: black;
	font-weight: 600;
	border-radius: 0.6rem;
	cursor: pointer;
}

.outputs h5 {
	font-size: 1.4rem;
	margin-top: 3rem;
}

.outputs table {
	margin: 2rem auto;
	border-collapse: collapse;
}

.outputs table thead {
	font-size: 1.5rem;
}

.outputs table thead tr:nth-child(1) {
	background: rgb(238, 238, 238, 0.5);
}

.outputs table tbody tr:nth-child(odd) {
	background: rgb(238, 238, 238, 0.8);
}

.outputs table tbody tr:nth-child(even) {
	background: rgb(238, 238, 238, 0.5);
}

.outputs table tr td {
	padding: 0.3rem 0.7rem;
}

.outputs table tr td:nth-child(1) {
	text-align: right;
}

.outputs table tr td:nth-child(2) {
	text-align: left
}


.extra-info {
	margin: 0 auto;
	margin-top: 3rem;
	font-size: 1.3rem;
	opacity: 0.8;
	max-width: 1250px;

}

.color-box {
	max-width: 1250px;
}


.or-separator {
	/*background: orange;*/
	margin-bottom: 1.5rem;
}

.or-separator span {
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
}

.or-separator span:before {
	content: '';
	width: 3rem;
	height: 1px;
	background: black;
	display: inline-block;
	margin-right: 0.5rem;
}

.or-separator span:after {
	content: '';
	width: 3rem;
	height: 1px;
	background: black;
	display: inline-block;
	margin-left: 0.5rem;
}

.rgb-color-picker-wrap ,
.hex-color-picker-wrap ,
.cmyk-color-picker-wrap ,
.hsl-color-picker-wrap ,
.hsv-color-picker-wrap
{
	text-align: center;
	position: relative;
}

#rgb-color-picker-input,
#hex-color-picker-input,
#cmyk-color-picker-input,
#hsl-color-picker-input,
#hsv-color-picker-input
{
	position: absolute;
	left: 50%;
	pointer-events: none;
	width: 0.1px;
	height: 0.1px;
	transform: translate(-50%, 1.3rem);


}

.rgb-color-picker,
.hex-color-picker,
.cmyk-color-picker,
.hsl-color-picker,
.hsv-color-picker
{
	display: inline-block;
	width: 4rem;
	height: 4rem;
	padding: 0.3rem;
	border-radius: 10rem;
	border: 0.5rem solid black;
	cursor: pointer;
}

.rgb-color-picker img,
.hex-color-picker img,
.cmyk-color-picker img,
.hsl-color-picker img,
.hsv-color-picker img
 {
	/*background: orange;*/
	transform: scale(0.8);
	max-width: 100%;
}

.footer {
	/*background: orange;*/
	position: absolute;
	bottom: 1.2rem;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	display: block;
	font-size: 1.4rem;
}

.footer a {
	color: red;
	font-weight: bold;
	animation: colorChange 30s ease-in 1s infinite normal;

}

.footer a:hover {
	text-decoration: none;
}

@keyframes colorChange {

	0% {
		color: red;
	}

	15% {
		color: orange;
	}

	30% {
		color: yellow;
	}

	45% {
		color: green;
	}

	60% {
		color: blue;
	}

	75% {
		color: indigo;
	}

	90% {
		color: violet;
	}
	
}

@keyframes borderColorChange {

	0% {
		border-color: red;
	}

	15% {
		border-color: orange;
	}

	30% {
		border-color: yellow;
	}

	45% {
		border-color: green;
	}

	60% {
		border-color: blue;
	}

	75% {
		border-color: indigo;
	}

	90% {
		border-color: violet;
	}
	
}